/* styles.css */
.root {
    -fx-background-color: #696969;
    background-color: #696969; /* vendor prefix per background-color */
}

#tavolo {
    -fx-background-color: lightgreen;
    background-color: lightgreen; /* vendor prefix per background-color */
}

.text-flow {
    -fx-background-color: green;
    background-color: green; /* vendor prefix per background-color */
}

.player-pane {
    -fx-background-color: lightgray;
    background-color: lightgray; /* vendor prefix per background-color */
}

.text-style {
    font-family: "Droid Sans Bold";
    font-size: medium;
    -fx-font-family: "Droid Sans Bold";
    -fx-font-size: 20.0;
}

.image-view {
    cursor: pointer;
}
