/* styles.css */
.root {
    -fx-background-color: #696969;
    background-color: #696969; 
}

#tavolo {
    -fx-background-color: yellow;
    background-color: yellow; 
}

.text-flow {
    -fx-background-color: green;
    background-color: green;
}

.player-pane {
    -fx-background-color: lightgray;
    background-color: lightgray; 
}

.text-style {
    font-family: "Droid Sans Bold";
    font-size: medium;
    -fx-font-family: "Droid Sans Bold";
    -fx-font-size: 20.0;
}

.image-view {
    cursor: pointer;
}
