/* styles.css */
#tavolo {
    -fx-alignment: center;
    background-size: cover;
    -fx-background-size: cover;
    background-position: center;
    -fx-background-position: center;
    -fx-alignment: center;
    align-content: center;
    background-repeat: no-repeat;
    -fx-background-repeat: no-repeat;    
}

#piatto{
    -fx-background-color: linear-gradient(rgba(22, 83, 7, 0.925), #4e9510cf, #8bb636, #589f1a, rgb(19, 82, 4));
    background-color: linear-gradient(rgba(22, 83, 7, 0.925), #4e9510cf, #8bb636, #589f1a, rgb(19, 82, 4));
    
}

#scrollabile {
    -fx-alignment: center;
    -fx-background-color: rgb(22, 83, 7);
    background-color: rgb(22, 83, 7);
    -fx-color-fill: wheat;
    color: wheat;
}

BorderPane {
    background-color: #1f1204;
    -fx-background-color: #1f1204;
    color: wheat;
    -fx-color-fill: wheat;

}

VBox,
#playerHand {
    background-color: linear-gradient(#2c1803, rgb(84, 53, 36));
    -fx-background-color: linear-gradient(#2c1803, rgb(84, 53, 36));
}

Button {
    background-color: wheat;
    -fx-background-color: wheat;
}

Text {
    color: wheat;
    -fx-fill: wheat;
}

TextField {
    background-color: wheat;
    -fx-background-color: wheat;
    color: #2c1803;
    -fx-fill: #2c1803;
}